body{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fblackclover.fandom.com%2Fwiki%2FAsta&psig=AOvVaw1xXGWay-s-SuDFQQV6l7At&ust=1701508195310000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCNjz7o7I74IDFQAAAAAdAAAAABAD');
background-size: ;
}


h1{
    text-align: center;
}
p{
    text-align: center;
}